<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
                <li><a href="{% url 'transactions:transaction_history' %}">Transaction History</a></li>
                <form action="{% url 'reset_account' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Reset Account</button>
                </form>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>

    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>